<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.kc.spring.user.dao.UserMapper">
	<!-- <insert id="insertUserGroup2" parameterType="net.kc.spring.user.domain.UserGroup" 
		keyProperty="id" useGeneratedKeys="true"> insert into user_group (id, name) 
		values (#{id}, #{name}) </insert> -->

	<insert id="insertUserGroupItem" parameterType="net.kc.spring.user.domain.UserGroupItem" keyProperty="id" useGeneratedKeys="true">
		insert into user_group_item (group_id, user_id) values (#{groupId}, #{user.id})
	</insert>

	<insert id="insertUserGroupItem2" parameterType="hashmap" keyProperty="id" useGeneratedKeys="true">
		insert into user_group_item (group_id, user_id) values (#{groupId}, #{userId})
	</insert>

<!--
	<select id="getUserByUsername" parameterType="string" resultMap="userGroupMap">
		SELECT * FROM user WHERE username=#{username}
	</select>
-->

	<select id="getAllUserGroups" resultMap="userGroupMap">
		SELECT g.id, 
			g.name, 
			i.id as user_group_item_id, 
			i.user_id, 
			u.username,
			u.name,
			u.birthdate,
			u.create_date,
			u.update_date
		FROM user_group g, user_group_item i, user u
		WHERE g.id=i.group_id AND i.user_id=u.id 
		ORDER BY g.id, u.id
		<!-- 
		ORDER BY $sortOrder$
		-->
	</select>

	<select id="getUser" resultMap="userMap">
		select * from user where id = #{id}
	</select>

	<select id="getAllUsers" resultMap="userMap">
		select * from user order by id
	</select>

	<select id="getUserGroup" resultMap="userGroupMap">
		SELECT g.id, 
			g.name, 
			i.id as user_group_item_id, 
			i.user_id, 
			u.username,
			u.name,
			u.birthdate,
			u.create_date,
			u.update_date
		FROM user_group g, user_group_item i, user u
		WHERE g.id=i.group_id AND i.user_id=u.id 
			AND g.id = #{id};
	</select>

	<resultMap id="userMap" type="User">
		<id property="id" column="id" />
		<result property="username" column="username" />
		<result property="name" column="name" />
		<result property="birthdate" column="birthdate" />
		<result property="createDate" column="create_date" />
		<result property="updateDate" column="update_date" />
	</resultMap>

	<resultMap id="userGroupMap" type="UserGroup">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<collection property="itemList" ofType="UserGroupItem">
			<id property="id" column="user_group_item_id" />
			<result property="groupId" column="id" />
			<association property="user" column="user_id" resultMap="userMap"/>
		</collection>
	</resultMap>
</mapper>